{{define "title"}}Login{{end}}

{{define "main"}}
<form action='/user/login' method='POST' novalidate>
  <div class="input-wrapper">
    <label>Email:</label>
    <input type='email' name='email' value='{{.Form.Email}}' />
    {{with .Form.FieldErrors.email}}
      <div class="error">{{.}}</div>
    {{end}}
  </div>
  <div class="input-wrapper">
    <label>Password:</label>
    <input type='password' name='password' />
    {{with .Form.FieldErrors.password}}
      <div class="error">{{.}}</div>
    {{end}}
  </div>
  {{with .Form.NonFieldErrors}}
    <div class="error">
      <ul>
        {{range .}}
          <li>{{ . }}</li>
        {{end}}
      </ul>
    <div>
  {{end}}
  <div>
    <input type='submit' value='Login'>
  </div>
</form>
{{end}}
