{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{template "title" .}} - ListMe</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body>
  <header>
    <div class="content">
      <a href="/" class="logo">ListMe</a>
      {{template "nav" .}}
    </div>
  </header>
  <main>
    {{with .Flash}}
      <div class='flash'>{{.}}</div>
    {{end}}
    {{template "main" .}}
  </main>
  <footer>
      Powered by <a href='https://golang.org/'>Go</a> in {{.CurrentYear}}
    </footer>
</body>

</html>
{{end}}
